{{> nav/nav-block}}

<div class="hero-full-screen overlay">         
  <div class="top-content-section">
    <div class="layer"></div>
  </div>
        
  <div class="middle-content-section">
    <div class="text-box"></div>
    <h1>About Us</h1>
    <br>
        <p>Deforestation is a major environmental problem globally. It is the removal of trees from land to create space for farms, 
            ranches, or urban projects. In addition, fires like those that the wildfires that have ravaged California contribute to 
            devorestation.  According to livescience.com an estimated 18 million acres of forest, roughly the size of the country, Panama, 
            are lost each year. These statistics come from the United Nations' Food and Agriculture Organization (FAO). 
        </p>

        <p>While there are many efforts to combat deforestation and move towards a more sustainable environment, our goal here at goTreeUrself
            is to provide a method for individuals to contribute to these efforts and share that information online. Members can connect with others and 
            communicate about the trees they plant on our website. 
        </p>
  </div>

  <div class="bottom-content-section" data-magellan data-threshold="0">
  <!-- <a href="#main-content-section"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z"/></svg></a> -->
  </div>    
</div>

{{> modal/login-block}}
