<div class="hero-full-screen overlay">
  {{> nav/nav-block user=false register=true}}
  <div class="middle-content-section" id="about-middle">
    <div class="container">
      <h1>About Us</h1>
      <br>
      <p>Deforestation is a major environmental problem globally. It is the removal of trees from land to create space
        for farms, ranches, or urban projects. In addition, fires like the wildfires that have ravaged California
        contribute to deforestation. According to livescience.com an estimated 18 million acres of forest, roughly the size of the
        country, Panama,are lost each year. These statistics come from the United Nations' Food and Agriculture Organization (FAO).
      </p>

      <p>While there are many efforts to combat deforestation and move towards a more sustainable environment, our goal
        here at goTreeUrself is to provide a method for individuals to contribute to these efforts and share that information online. 
        Members can track the trees they plant and can see their trees planted pinned on the Google World Map!

        
      </p>
    </div>
  </div>



  <div id="carbon-notice-profile">According to <a href='https://treesatlanta.org/resources/carbon-offset-calculator/'
      target='_blank'>Trees Atlanta</a>,
    planting just <em>one</em> tree offsets <strong>4.3 tons</strong> of carbon.</div>
  <div class="bottom-content-section" data-magellan data-threshold="0">
  </div>
</div>

{{> modal/login-block}}