{{> nav/nav-block}}

<div class="hero-full-screen overlay">         
  <div class="top-content-section">
  </div>
        
  <div class="middle-content-section">
      <iframe width="1000" height="350" src="https://desmondmullen.com/many-pins/" 
          frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="bottom-content-section" data-magellan data-threshold="0">
  <!-- <a href="#main-content-section"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z"/></svg></a> -->
  </div>    
</div>
<div>
  {{#if isloggedin}}
    You are logged in as {{user.firstName}}
    <a href="/logout"> <button type="btn" class="btn">Logout</button></a>
  {{else}}
    <p>You need to log in to use this app.</p>
  {{/if}}
  <h5 id="login-err-msg"></h5>
</div>

{{> modal/login-block}}
