<div class="hero-full-screen overlay">
  {{> nav/nav-block}}
  <div id='map'></div>
  <div id="carbon-notice">The users of this site have planted <section id="number-trees">0</section> trees, offsetting
    over <section id="number-tons">0</section> tons of carbon!</div>
</div>

{{> modal/login-block}}