<div class="hero-full-screen overlay">
  {{> nav/nav-block}}
  <div id='map'></div>
  <div id="carbon-notice">The users of this site have planted X trees, offsetting over Y tons of carbon!</div>
  <br>
</div>

{{> modal/login-block}}