<div class="hero-full-screen overlay">
  {{> nav/nav-block user=false register=true}}
  <div class="middle-content-section" id="about-middle">
    <div class="container">
      <h1>How It Works</h1>
      <br>
      <p>To join the effort at goTreeUrself, first register with your information. Then login, and our system
        will take you to your profile page. There you can upload a profile picture if you so choose, and then
        start uploading photos of the trees you've planted. We will obtain the geotag information from your
        tree image and grab the latitude and longitude of the tree. If no geotag information is available, 
        we will ask you for the tree location information.  You can even name your tree and input the type of tree you planted. 
        Your tree then gets pinned on the Google World Map on the home page. It's just that easy!
      </p>

      <p>On your profile page, you will be able to see all the trees you have planted.
      </p>
    </div>
  </div>
  <div id="carbon-notice-profile">According to <a href='https://treesatlanta.org/resources/carbon-offset-calculator/'
      target='_blank'>Trees Atlanta</a>,
    planting just <em>one</em> tree offsets <strong>4.3 tons</strong> of carbon.</div>
  <div class="bottom-content-section" data-magellan data-threshold="0">
  </div>
</div>

{{> modal/login-block}}