{{> nav/nav-block}}

<div class="hero-full-screen overlay">
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
                <div class="row column">
                    <br>
                    <img class="thumbnail" src="https://placehold.it/550x350">
                    <h5>Carlar Blackman</h5>
                    <p>I am a software engineer at the UNC Coding Bootcamp. I graduated from UNC with a concentratin in International Studies
                        with a concentration on Latin America and Political Science in 1997. My career has been mainly focused around medical 
                        research, but I have a strong interest in planting trees for a more sustainable environment.
                    </p>
                </div>
            </div>
            <div class="off-canvas-content" data-off-canvas-content>
                <div class="title-bar hide-for-large">
                    <div class="title-bar-left">
                        <button class="menu-icon" type="button" data-open="my-info"></button>
                        <span class="title-bar-title">Carlar Blackman</span>
                    </div>
                </div>
                <div class="callout primary">
                    <div class="row column">
                        <h1>These are the trees I've planted!</h1>
                        </div>
                </div>
                <div class="row small-up-2 medium-up-3 large-up-4">
                    <div class="column">
                        <img class="thumbnail" src="https://placehold.it/250x250">
                        <p>longitude/latitude</p>
                        <h5>Unique Tree Name/ID</h5>
                    </div>
                    <div class="column">
                        <img class="thumbnail" src="https://placehold.it/250x250">
                        <p>longitude/latitude</p>
                        <h5>Unique Tree Name/ID</h5>
                    </div>
                        <img class="thumbnail" src="https://placehold.it/250x250">
                        <p>longitude/latitude</p>
                        <h5>Unique Tree Name/ID</h5>
                    <div class="column">
                        <img class="thumbnail" src="https://placehold.it/250x250">
                        <p>longitude/latitude</p>
                        <h5>Unique Tree Name/ID</h5>
                    </div>
                    <div class="column">
                        <img class="thumbnail" src="https://placehold.it/250x250">
                        <p>longitude/latitude</p>
                        <h5>Unique Tree Name/ID</h5>
                    </div>
                    <div class="column">
                        <img class="thumbnail" src="https://placehold.it/250x250">
                        <p>longitude/latitude</p>
                        <h5>Unique Tree Name/ID</h5>
                    </div>
                    <div class="column">
                        <img class="thumbnail" src="https://placehold.it/250x250">
                        <p>longitude/latitude</p>
                        <h5>Unique Tree Name/ID</h5>
                    </div>
                    <div class="column">
                        <img class="thumbnail" src="https://placehold.it/250x250">
                        <p>longitude/latitude</p>
                        <h5>Unique Tree Name/ID</h5>
                    </div>
                    <div class="column">
                        <img class="thumbnail" src="https://placehold.it/250x250">
                        <p>longitude/latitude</p>
                        <h5>Unique Tree Name/ID</h5>
                    </div>
                    <div class="column">
                        <img class="thumbnail" src="https://placehold.it/250x250">
                        <p>longitude/latitude</p>
                        <h5>Unique Tree Name/ID</h5>
                    </div>
                    <div class="column">
                        <img class="thumbnail" src="https://placehold.it/250x250">
                        <p>longitude/latitude</p>
                        <h5>Unique Tree Name/ID</h5>
                    </div>
                    <div class="column">
                        <img class="thumbnail" src="https://placehold.it/250x250">
                        <p>longitude/latitude</p>
                        <h5>Unique Tree Name/ID</h5>
                    </div>
                    <div class="column">
                        <img class="thumbnail" src="https://placehold.it/250x250">
                        <p>longitude/latitude</p>
                        <h5>Unique Tree Name/ID</h5>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="medium-6 columns">
                        <h3>Contact Me</h3>
                        <p>Let's chat about our trees and how we can promote sustainability worldwide!
                        </p>
                        <ul class="menu">
                            <li><a href="#">Facebook</a></li>
                        </ul>
                    </div>
                    <div class="medium-6 columns">
                        <label>Name
                            <input type="text" placeholder="Name">
                        </label>
                        <label>Email
                            <input type="text" placeholder="Email">
                        </label>
                        <label>
                            Message
                            <textarea placeholder="holla at a designerd"></textarea>
                        </label>
                        <input type="submit" class="button expanded" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
    $(document).foundation();
</script>
</body>

</html>