<div class="hero-full-screen overlay">
    <div class="top-content-section">
        {{> nav/nav-block user=false register=true}}

        <div class="profile-container">
            <div class="off-canvas-wrapper">
                <div class="off-canvas-wrapper-inner">
                    <div class="off-canvas position-left reveal-for-large" id="my-info" data-position="left">
                        <div class="row column">
                            <br>
                            <label for="exampleFileUpload" class="button" >Upload Your Profile
                                Pic</label>
                            <input type="file" id="exampleFileUpload" class="show-for-sr">
                            <img class="thumbnail" src="https://placehold.it/300x250">
                            <div class="myinfo" id="profile-info">
                                <h5>Mike Mikerson</h5>
                                <p>I am an environmental enthusiast and peach tree lover!</p>
                                <p>Sacramento, California, United States</p>
                                <p>Age: 37 </p>
                            </div>
                        </div>
                    </div>
                    <div class="off-canvas-content" data-off-canvas-content>
                        <div class="title-bar hide-for-large">
                            <div class="title-bar-left">
                                <button class="menu-icon" type="button" data-open="my-info"></button>
                                <span class="title-bar-title">Mike Mikerson</span>
                            </div>
                        </div>
                        <div class="callout primary" id="tree-header">
                            <div class="row column">
                                <h1>Hello! This is the portfolio of all the trees you have planted.</h1>
                                <p>Click on each tree to find out more information.</p>
                            </div>
                        </div>
                        <div class="row small-up-2 medium-up-3 large-up-4">
                            <a class="th" role="button" aria-label="Thumbnail" href="/assets/images/sapling2.jpg"
                                height="100px" width="100px">
                                <img aria-hidden=true src="/assets/images/sapling2.jpg" height="100px" width="100px">
                            </a>
                            <p>Tree Name</p>
                            <div class="column">
                                <a class="th" role="button" aria-label="Thumbnail" href="/assets/images/3_sapling.png"
                                    height="100px" width="100px">
                                    <img aria-hidden=true src="/assets/images/3_sapling.png" height="100px"
                                        width="100px">
                                </a>
                                <p>Tree Name</p>
                            </div>
                            <div class="column">
                                <img class="thumbnail" src="https://placehold.it/100X100">
                                <p>Tree Name</p>
                            </div>
                            <div class="column">
                                <img class="thumbnail" src="https://placehold.it/100X100">
                                <p>Tree Name</p>
                            </div>
                            <div class="column">
                                <img class="thumbnail" src="https://placehold.it/100X100">
                                <p>Tree Name</p>
                            </div>
                            <div class="column">
                                <img class="thumbnail" src="https://placehold.it/100X100">
                                <p>Tree Name</p>
                            </div>
                            <div class="column">
                                <img class="thumbnail" src="https://placehold.it/100X100">
                                <p>Tree Name</p>
                            </div>
                            <div class="column">
                                <img class="thumbnail" src="https://placehold.it/100X100">
                                <p>Tree Name</p>
                            </div>
                            <div class="column">
                                <img class="thumbnail" src="https://placehold.it/100X100">
                                <p>Tree Name</p>
                            </div>
                            <div class="column">
                                <img class="thumbnail" src="https://placehold.it/100X100">
                                <p>Tree Name</p>
                            </div>
                            <div class="column">
                                <img class="thumbnail" src="https://placehold.it/100X100">
                                <p>Tree Name</p>
                            </div>
                            <div class="column">
                                <img class="thumbnail" src="https://placehold.it/100X100">
                                <p>Tree Name</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="medium-6 columns" id="contact-me">
                                <h3>Contact Me</h3>
                                <p>Let's chat!.</p>
                                <ul class="menu">
                                    <li><a href="#">Facebook</a></li>
                                </ul>
                            </div>
                            <div class="medium-6 columns">
                                <label>Name
                                    <input type="text" placeholder="Name">
                                </label>
                                <label>Email
                                    <input type="text" placeholder="Email">
                                </label>
                                <label>
                                    Message
                                    <textarea placeholder="holla at a designerd"></textarea>
                                </label>
                                <input type="submit" class="button expanded" value="Submit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
    $(document).foundation();
</script>
</body>

</html>