<div class="top-content-section">
  <nav class="top-bar topbar-responsive">
  <!-- Brand/logo -->
    <div class="top-bar-title">
      <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
      <!-- <button class="menu-icon" type="button" data-toggle></button> -->
      </span>
      <p class="imageclass"><img src="assets/images/tree-icon.png" alt="Tree menu-icon" height="60" width="60"></p>&nbsp;
      <ul class="menu simple vertical medium-horizontal">
          <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">Go Tree Yourself</a></li>
      </ul>
    </div>
  
  <!-- Links -->
    {{#if isloggedin}}
          <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
            <ul class="menu simple vertical medium-horizontal">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/howitworks">How It Works</a></li>
                <li><a href="/profile">My Profile</a></li>
                <li><a href="/logout">Logout</a></li>
                <li> 
                    <!-- Could use this button for a drop down of check boxes to change the user view to see only their trees, 
                        all trees, certain types of trees, etc. -->
                    {{!-- <button type="button" class="button hollow topbar-responsive-button">Categories</button> --}}
                </li>
            </ul>
        </div>
    </div>
    {{else}}
      <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
            <ul class="menu simple vertical medium-horizontal">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/howitworks">How It Works</a></li>
                <li><a href="/login" id="login-modal">Login</a></li>
                <li><a href="/register" data-register={{register}}>Register</a></li>
            </ul>
        </div>
      </div>
    {{/if}}

  </nav>
</div>

{{!-- {{> modal/login-block}} --}}
